<head>
    <title>Build A Sign</title>
    <link rel="stylesheet" type="text/css" href="styles.css"></head>
<body>
    <div id="edit-overlay">
        <div id="close-overlay">
            close
        </div>
    </div>
    <div id="content">
        <div id="top-section">
            <div id="header">
                <div>
                    <div id="menu-button">
                        <img alt="menu-button" src="src/assets/Menu.svg" />
                        <div id="menu-container">
                            <div class="menu-item">
                                Home
                            </div>
                            <div class="menu-item">
                                Signs
                            </div>
                            <div class="menu-item">
                                Magentics
                            </div>
                            <div class="menu-item">
                                Banners
                            </div>
                            <div class="menu-item">
                                Stickers & Decals
                            </div>
                            <div class="menu-item">
                                License Plates
                            </div>
                            <div class="menu-item">
                                Stakes & Frames
                            </div>
                            <div class="menu-item">
                                Custom Flags
                            </div>
                            <div class="menu-item">
                                Shirts
                            </div>
                            <div class="menu-item">
                                More
                            </div>
                        </div>
                    </div>
                    <div id="other-button">
                        <img alt="menu-button" src="src/assets/Menu.svg" />
                    </div>
                </div>
                <div>
                    <div id="help-button">
                        <img alt="menu-button" src="src/assets/question-circle-regular.svg" />
                    </div>
                    <div id="cart-button">
                        <img alt="menu-button" src="src/assets/Menu.svg" />
                    </div>
                </div>
            </div>
            <div id="coupon">
                <span>
                    87% Off Canvas Prints! Click For Details
                </span>
            </div>
        </div>
        <div id="toolbar">
            <div class="toolbar-option">
                <div class="image-container">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" fill="#acd5cb" ><g><g><path fill="#acd5cb" d="M94.416,28.661l-7.205-7.212c-0.772-0.772-2.026-0.772-2.798,0l-6.532,6.525l-8.426,8.426v-9.897    c0-1.095-0.884-1.979-1.979-1.979H6.979C5.891,24.524,5,25.408,5,26.504V77.15c0,1.095,0.891,1.979,1.979,1.979h60.497    c1.095,0,1.979-0.884,1.979-1.979V56.426l18.435-18.441l6.526-6.525C95.195,30.687,95.195,29.433,94.416,28.661z M8.959,28.483    h56.538V40.36l-7.825,7.832l-6.129-6.123c-0.772-0.772-2.026-0.772-2.798,0L29.01,61.803l-6.347-6.354    c-0.779-0.772-2.026-0.772-2.804,0l-10.9,10.9V28.483z M65.497,75.171H8.959v-3.226l12.299-12.292l6.354,6.347    c0.772,0.772,2.026,0.772,2.798,0l19.735-19.735l4.724,4.731l-2.191,2.191c-0.178,0.178-0.323,0.389-0.422,0.62l-5.397,12.602    c-0.317,0.746-0.152,1.61,0.422,2.184c0.383,0.376,0.884,0.581,1.399,0.581c0.264,0,0.528-0.053,0.779-0.165l12.609-5.397    c0.231-0.099,0.442-0.238,0.62-0.416l2.811-2.811V75.171z M55.026,57.396l3.444,3.451l-6.024,2.58L55.026,57.396z M66.078,54.202    c-0.046,0.046-0.086,0.092-0.132,0.139l-5.127,5.12l-4.408-4.414l2.613-2.613c0.013-0.013,0.033-0.026,0.046-0.04    c0.02-0.02,0.04-0.04,0.059-0.066l20.302-20.295l4.408,4.407L66.078,54.202z M85.707,34.573l-4.408-4.407l4.513-4.513l4.407,4.407    L85.707,34.573z"></path></g></g><g><path d="M24.713,50.176c-4.242,0-7.693-3.451-7.693-7.693s3.451-7.693,7.693-7.693s7.693,3.451,7.693,7.693   S28.954,50.176,24.713,50.176z M24.713,38.75c-2.059,0-3.734,1.675-3.734,3.734s1.675,3.734,3.734,3.734s3.734-1.675,3.734-3.734   S26.771,38.75,24.713,38.75z"></path></g></svg>
                </div>
                    <span>EDIT</span>
            </div>
            <div class="toolbar-option">
                <div class="image-container">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 1024 1024" style="enable-background:new 0 0 1024 1024;" xml:space="preserve">
                    <style type="text/css">
                        .st0{display:none;}
                        .st1{display:inline;}
                        .st2{fill:#92C7BB;}
                    </style>
                    <title>icon-01</title>
                    <path  fill="#acd5cb" d="M952.7,967.1H71.3c-8,0-14.4-6.4-14.4-14.4V470.2c0-8,6.4-14.4,14.4-14.4h85c8,0,14.4,6.4,14.4,14.4v383.2h682.7V470.2
	c0-8,6.4-14.4,14.4-14.4h85c8,0,14.4,6.4,14.4,14.4l0,482.5C967.1,960.7,960.7,967.1,952.7,967.1z M192,395.6
	c-7.5,0-11.1-9.3-5.5-14.3l0.4-0.4L502.4,97.6c5.5-4.9,13.7-4.9,19.2,0l317.3,283.6v0c5.7,5.1,2.1,14.4-5.5,14.4h-7.1H192L192,395.6
	z"/>
                    <path  fill="#acd5cb" d="M366,293.1h291v366.6c0,8-6.4,14.4-14.4,14.4H380.4c-8,0-14.4-6.4-14.4-14.4V293.1z"/>
                    <g id="Page-1" class="st0">
                    <g id="COTC_Etch_iPad" transform="translate(-174.000000, -197.000000)" class="st1">
                        <g id="noun_Upload_707344_000000" transform="translate(174.000000, 197.000000)">
                            <path id="Shape" class="st2" d="M505.6,95.2L187.1,379.3c-2.8,2.4-3.7,6.4-2.4,9.8c1.3,3.4,4.6,5.7,8.3,5.7H366v261.9
                                c0,10.1,8.1,18.3,18.2,18.3h254.6c10.1,0,18.2-8.2,18.2-18.3V394.9h173.1c3.7,0,7-2.3,8.3-5.7c0.4-1,0.6-2.1,0.6-3.1
                                c0-2.5-1-4.9-3-6.6L517.4,95.2C514,92.2,509,92.2,505.6,95.2z"/>
                            <path id="Shape_1_" class="st2" d="M947.3,456.8l-70.9,0c-10.4,0-18.9,10.2-18.9,22.7V857l-681.3,0V479.5
                                c0-12.6-8.5-22.7-18.9-22.7H75.7c-10.4,0-18.9,10.2-18.9,22.7v463.8c0,12.5,8.5,22.7,18.9,22.7h871.6c10.4,0,18.9-10.2,18.9-22.7
                                V479.5C966.3,467,957.8,456.8,947.3,456.8z"/>
                        </g>
                    </g>
                </g>
                </svg>
                    <span>UPLOAD</span>
                </div>
            </div>
            <div class="toolbar-option" id="rotate-button">
                <div class="image-container">
                    <svg version="1.1"
                         fill="#acd5cb"
                         id="Layer_1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                         style="enable-background:new 0 0 100 100;" xml:space="preserve">
<path d="M40.2,5v12.4c-17,4.4-29.7,19.8-29.7,38.2C10.6,77.3,28.3,95,50,95s39.4-17.7,39.4-39.4c0-11-4.5-21-11.8-28.1l-7.2,5.2
	c6.3,5.6,10.3,13.8,10.3,22.9c0,17-13.7,30.7-30.7,30.7S19.3,72.6,19.3,55.6c0-13.6,8.7-25,20.9-29.1v13l24-17.2L40.2,5z"/>
</svg>
                </div>
                <span>ROTATE</span>

            </div>
            <div class="toolbar-option">
                <div class="image-container">
                    <img src="src/assets/Save.svg">
                </div>
                <span>SAVE</span>
            </div>
        </div>
        <div id="image-section">
            <div id="edit-size-container">
                <div class="image-container">
                    <img src="src/assets/Gear.svg" />
                </div>
                <span>
                    EDIT
                </span>
                <span>
                    SIZE
                </span>
            </div>
            <div id="user-image">
                <div class="image-container">
                    <!--https://fontawesome.com/license/free-->
                    <img src="src/assets/Cloud-Upload.svg" />
                </div>
                <span id="click-upload-text">
                    Click To Upload Image
                </span>
                <span id="image-accepted-types-text">
                    Accepted file types .jpg, .png, .gif
                </span>
            </div>
        </div>
        <div id="pricing-and-upload-container">
            <div id="pricing">
                <span>
                    $17.60
                </span>
                <span>
                    $135.35
                </span>
            </div>
            <button>
                UPLOAD
            </button>
        </div>
    </div>
</body>
<script src="src/scripts/rotate.js" type="application/javascript"></script>
<script src="src/scripts/edit_overlay.js" type="application/javascript"></script>
<script src="src/scripts/menu.js" type="application/javascript"></script>