body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#edit-overlay {
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 2;
    position: fixed;
    height: 100vh;
    width: 100vw;
    /* top: 0px; */
    left: 100%;
    transition: left 200ms;
}

#edit-overlay.show {
    left: 0;
    transition: left 200ms;
}

#close-overlay {
    color: white;
    font-size: 7rem;
    position: absolute;
    right: 0;
    margin: 5%;
}

#content {
    background-color: white;
}

#top-section {
    width: 95%;
    margin: auto;
    margin-top: 2.5%;
}

#header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    max-height: 10vh;
    background-color: #faf6f3;
}

#menu-button {
    position: relative;
}

#menu-container.show {
    display: block;
}

#menu-container {
    display: none;
    position: absolute;
    background-color: white;
    padding: 50px;
    font-size: 2rem;
    z-index: 2;
    left: 50%;
    border: 1px solid gray;
    box-shadow: 0 0 9px 3px grey;
}


.menu-item {
    border-top: 1px solid gray;
    padding: 20px;
    z-index: 3;
}

.menu-item:first-of-type {
    border-top: none;
}

.menu-item:hover {
    background-color: #e9775c;
    color: white;
    font-weight: 700;
}

#header > div {
    width: 30%;
    display: inline-flex;
    margin: 30px;
    justify-content: space-between;
    max-height: 6.5rem;
    align-self: center;
}

#header img {
    height: 100%;
}

#coupon {
    background-color: #e9775c;
    display: flex;
    height: 10vh;
    max-height: 10vh;
}

#coupon > span {
    font-size: 2.75rem;
    color: white;
    font-weight: 600;
    align-self: center;
    margin: auto;
}

#toolbar {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
}

#toolbar > div {
    width: 25%;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    font-size: 2rem;
    border: 1px solid gray;
}
#toolbar-option .image-container {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.toolbar-option svg, .toolbar-option img {
    height: 7.5rem;
    transform: translate(6%,0%);
}

.toolbar-option span {
    margin-bottom: 20px;
}

#image-section {
    background-color: #f5f9fb;
    display: inline-flex;
    width: 100%;
    height: 50vh;
    position: relative;
}

#image-section .image-container {
    max-height: 13rem;
    margin: 10%;
}

#image-section .image-container img {
    height: 100%;
}

#user-image {
    height: 60%;
    width: 75%;
    background-color: white;
    margin: 100px auto 200px auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.25)
}

#user-image.rotate {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg); /* Standard syntax */
}

#edit-size-container {
    right: 0;
    top: 5%;
    border: 1px solid gray;
    border-right: none;
    background-color: white;
    position: absolute;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    width: 15%;
    font-size: 1.5rem;
    padding: 10px 0;
}

#edit-size-container > .image-container {
    max-height: 7.5rem;
}

#edit-size-container img {
    max-height: 100%;
}

#click-upload-text {
    font-size: 3.5rem;
    font-weight: 600;
}

#image-accepted-types-text {
    font-size: 2.75rem;
    margin: 25px;
}

#pricing-and-upload-container {
    height: 15vh;
    /* font-size: 3rem; */
    display: inline-flex;
    width: 100%;
    padding-top: 5%;
    border-top: 1px solid gray;
}

#pricing-and-upload-container button {
    width: 57%;
    background-color: #ea7c66;
    color: white;
    font-weight: 500;
    font-size: 3rem;
    height: 40%;
}

#pricing {
    flex-direction: column;
    display: inline-flex;
    height: 100%;
    margin-left: 3%;
    width: 35%;
}

#pricing > span:first-of-type {
    margin-bottom: 25px;
    color: #ea7c66;
    font-weight: 600;
    font-size: 3.75rem;
}

#pricing > span:last-of-type {
    font-size: 2.5rem;
    text-decoration: line-through;
    color: #566f7a;
}




